<style>
	body {
		line-height: 1.6;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 10px;
	}
	address {
		margin-bottom: 20px;
	}
</style>
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>MENTIONS LÉGALES</h1>
		<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Gusto Coffee l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
		<h2>Edition du site</h2>
		<address>
			DCTD, société au capital de 10 000 euros<br>
			Inscrite au R.C.S. de PARIS sous le numéro RCS VANNES B 514 919 844<br>
			Siège social : 1 rue de la Paix, 75001 Paris<br>
			Représenté(e) par DCTD DCTD dûment habilité(e)<br>
			Numéro individuel TVA : FR 40 123456789
		</address>
		<h2>Hébergement</h2>
		<p>Le Site est hébergé par la société 1&1 / IONOS<br>
			7 Place de la Gare - 57200 Sarreguemines<br>
			Contact téléphonique ou email : (+33) 9 70 80 89 11</p>
		<h2>Directeur de publication</h2>
		<p>Le Directeur de la publication du Site est DCTD DCTD</p>
		<h2>Nous contacter</h2>
		<p>Par téléphone : +33745499531<br>
			Par email : gustocoffee05@gmail.com<br>
			Par courrier : 1 rue de la Paix, 75001 Paris</p>
		<h2>Données personnelles</h2>
		<p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
		<p>Génération des mentions légales par Legalstart.</p>

	</body>
</html>
