{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                {# <h4 class="section-title">Team Members</h4> #}
                <h4 class="display-6 mb-4 section-title">Les valeurs chez Gusto coffee</h4>
            </div>
            <div class="col-md-12">
                <p>Gusto Coffee est une entreprise spécialisée dans la vente de produits liés au café, tels que les machines automatiques, les machines à expresso, les moulins à café, les cafés en grains et en dosettes, etc.</p>
                <p>Avec une expérience de plus de dix ans dans l'implantation de coffee-shops en Italie et en Angleterre, Gusto Coffee a récemment ouvert un nouveau coffee-shop coworking à Paris, à proximité de la gare du Nord.</p>
                <p>Dirigée par Monsieur Philippe Landemaine en tant que directeur et Monsieur Alain Bellucci en tant que directeur associé, l'entreprise souhaite attirer des clients tout au long de la journée en proposant des espaces de travail collaboratifs à la location pour les entreprises naissantes et les freelances qui n'ont pas de locaux.</p>
                <p>Les espaces de travail sont disponibles en tables individuelles dans un salon principal avec une réservation à la place, ou en salons privés pour quatre ou six personnes.</p>
                <p>Deux forfaits sont proposés, le forfait découverte et le forfait barista, qui offrent des avantages supplémentaires tels que l'accès à une sélection de cafés et des viennoiseries sur demande.</p>
            </div>
        </div>
    </div>
{% endblock %}