{% extends "base.html.twig" %}

{% block body %}
	<section class="ftco-section mt-5">
		<div class="container">
			{# <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form #09</h2>
				</div>
			</div> #}
			{# <div class="row justify-content-center">
				<div class="col-md-12"> #}
					<div class="wrapper">
						<div class="row justify-content-center">
							<div class="col-md-6">
								<h2>Contactez-nous</h2>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita illum iusto, aut repellat fuga!</p>
								<ul class="list-unstyled pl-md-5 mb-5">
									<li class="d-flex text-black mb-2">
										<span class="mr-3">
											<i class="fa fa-map text-primary me-2" aria-hidden="true"></i>
										</span>
										34 Street Name, City Name Here,
										<br>
										United States
									</li>
									<li class="d-flex text-black mb-2">
										<span class="mr-3">
											<i class="fa fa-phone text-primary me-2" aria-hidden="true"></i>
										</span>
										+1 (222) 345 6789</li>
									<li class="d-flex text-black">
										<span class="mr-3">
											<i class="fa fa-envelope text-primary me-2" aria-hidden="true"></i>
										</span>
										info@mywebsite.com
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<div class="contact-wrap">
									<h3 class="mb-4 text-center">Get in touch with us</h3>
									<div id="form-message-warning" class="mb-4 w-100 text-center"></div>
									<div id="form-message-success" class="mb-4 w-100 text-center">
										Your message was sent, thank you!
									</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
										<div class="row">
											<div class="col-md-12">
												<div class="form-outline mb-3">
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-outline mb-3">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-outline mb-3">
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-outline mb-3">
													<textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-outline mb-3">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				{# </div>
			</div> #}
		</div>
	</section>
{% endblock %}
