{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Header Start -->
		<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s"> <div class="container py-5">
			<h1 class="display-1 text-white animated slideInDown">Forfaits</h1>
		</div>
	</div>
<!-- Page Header End -->

<div class="container py-5">
	<div class="text-center mx-auto mb-3">
		<h1 class="mb-0">Nos forfaits</h1>
		<hr>
	</div>
	<div class="row d-flex justify-content-center">
	{% for subscription in subscriptions %}
		<div class="col-xl-4 col-lg-6 col-md-6">
			<div class="card m-2 h-100">
				<div class="card-header">
					<h3 class="text-center mb-0">{{subscription.title}}</h3>
				</div>
				<div class="card-body">
					<h4 class="text-center">{{subscription.price}}€ /mois</h4>
					{{subscription.description|raw}}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>


<section id="information-section" style="background-color: #f5f5f5; padding: 40px;">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <img src="/img/barista-7.jpg" alt="Image" style="max-width: 100%; height: auto;">
      </div>
      <div class="col-md-6" style="text-align: left;">
        <h2 style="margin-bottom: 20px;">Forfaits et Viennoiseries à la carte</h2>
        <div>
          <p style="font-size: 18px; margin-bottom: 10px;">Nous vous proposons une gamme de forfaits adaptés à vos besoins :</p>
          <ul style="list-style-type: disc; margin-bottom: 20px;">
            <li>Forfait Barista : Accès illimité à notre espace de coworking, connexion Internet haut débit, tables individuelles et salons privés disponibles, accès à notre sélection de cafés et viennoiseries sur demande, accès prioritaire aux événements et ateliers, support technique 24/7.</li>
            <li>Forfait Découverte : Accès illimité à notre espace de coworking, connexion Internet haut débit, tables individuelles et salons privés disponibles, accès à notre sélection de cafés et viennoiseries sur demande.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -->


<section id="icon-section" style="background-color: #f5f5f5; padding: 40px;">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 20px;">Café et Viennoiseries</h2>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <i class="fas fa-coffee" style="font-size: 64px; color: #333;"></i>
        <h4 style="margin-top: 20px;">Café de qualité</h4>
        <p style="font-size: 18px;">Dégustez nos délicieux cafés fraîchement préparés par nos baristas expérimentés.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-birthday-cake" style="font-size: 64px; color: #333;"></i>
        <h4 style="margin-top: 20px;">Viennoiseries savoureuses</h4>
        <p style="font-size: 18px;">Accompagnez votre café avec nos viennoiseries fraîches et gourmandes.</p>
      </div>
    </div>
  </div>
</section>


<section id="services-section" style="background-color: #f9f9f9; padding: 40px;">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 20px;">Services offerts</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="/img/acces-wokspace.jpg" class="card-img-top" alt="Service 1">
          <div class="card-body">
            <h5 class="card-title">Accès illimité à l'espace </h5>
            <p class="card-text">Profitez d'un accès 24/7 à notre espace de coworking moderne et confortable.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/img/wifi.png" class="card-img-top" alt="Service 2">
          <div class="card-body">
            <h5 class="card-title">Connexion Internet haut débit</h5>
            <p class="card-text">Bénéficiez d'une connexion Internet rapide et fiable pour vos besoins professionnels.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/img/acces-workspace2.jpg" class="card-img-top" alt="Service 3">
          <div class="card-body">
            <h5 class="card-title">Salons privés disponibles</h5>
            <p class="card-text">Réservez nos salons privés pour vos réunions et entretiens confidentiels.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery-section" style="padding: 40px; margin:">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 20px;">Galerie d'Images</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="/img/cafe-1.jpg" class="img-fluid" alt="Image 1">
      </div>
      <div class="col-md-4">
        <img src="/img/cafe-2.jpg" class="img-fluid" alt="Image 2">
      </div>
      <div class="col-md-4">
        <img src="/img/cafe-3.jpg" class="img-fluid" alt="Image 3">
      </div>
      <div class="col-md-4">
        <img src="/img/cafe-4.jpg" class="img-fluid" alt="Image 4">
      </div>
      <div class="col-md-4">
        <img src="/img/cafe-5.jpg" class="img-fluid" alt="Image 5">
      </div>
      <div class="col-md-4">
        <img src="/img/cafe-6.jpg" class="img-fluid" alt="Image 6">
      </div>
    </div>
  </div>
</section>

<!-- -->
{% endblock %}
