{% extends "base.html.twig" %}

{% block body %}
    <div class="container m-5 error404 text-center">
        <h3>Oups, vous ne trouverez pas de café ici !</h3>
        <div class="content mt-5 d-flex justify-content-center align-items-center">
            <h1 class="display-1 p-4">
            4
            </h1>
                <img src="{{asset('img/icons/logo.png')}}" alt="" width="150px">
            <h1 class="display-1 p-4">
            4
            </h1>
        </div>
    </div>
{% endblock %}